body{
    line-height: 1.5;/* Set line spacing */
}


header, nav{
    padding: 10px 20px 30px 5px;
    margin: 10px 10px 10px 10px;/* Set padding and margin */

}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline;
    margin: 30px;
    padding: 10px 15px 10px;
    font-size: 30px;
    background-color: #79c573;
}

nav a{
    /* Set text decoation*/
    text-decoration: none;
    color: black;
}

a:visited{
    /* Set color */
    color: black;

}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
}


h1{
   /*Set font and font size*/

}

h2{
    /*Set font, font size, and alignment*/
}

h3{
    /*Set font size*/

}

h1, h2, h3{
    /*Set margin */

}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    display: grid;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    grid-gap: 10px;
}

.grid div{
    /* Set border properties, padding, and background color */

}

.grid img{
    /* Set width, margin, and display */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 5px 0px 5px rgb(72, 72, 175);
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
}
    

p + p {
     /* Set indentation */
    text-indent: 20px;
  }
  
p{
     /* Set margin */
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
}
